<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layouts/layout :: head}">
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{layouts/layout :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="~{layouts/layout :: navbar}"></nav>
        <!-- Navbar End -->

        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4" th:text="${title}"></h6>

                        <form th:action="@{/citas/save}"
                              th:object="${cita}"
                              method="post">
                            <div class="mb-3">
                                <label for="txtFechaSolicitud"
                                       class="form-label">Fecha Solicitud</label>
                                <input type="date"
                                       class="form-control"
                                       id="txtFechaSolicitud"
                                       th:field="*{fechaSolicitud}"
                                       th:errorclass="'form-control'"/>
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('fechaSolicitud')}"
                                       th:errors="*{fechaSolicitud}"></small>
                            </div>

                            <fieldset>
                                <legend>Datos de la persona afectada</legend>
                                <div class="mb-3">
                                    <label for="txtNombres"
                                           class="form-label">Nombres</label>
                                    <input type="text"
                                           class="form-control"
                                           th:field="*{nombres}"
                                           id="txtNombres"
                                           th:errorclass="'form-control'"/>
                                    <small class="form-text text-danger"
                                           th:if="${#fields.hasErrors('nombres')}"
                                           th:errors="*{nombres}"></small>
                                </div>

                                <div class="mb-3">
                                    <label for="txtApellidos"
                                           class="form-label">Apellidos</label>
                                    <input type="text"
                                           class="form-control"
                                           th:field="*{apellidos}"
                                           id="txtApellidos"
                                           th:errorclass="'form-control'"/>
                                    <small class="form-text text-danger"
                                           th:if="${#fields.hasErrors('apellidos')}"
                                           th:errors="*{apellidos}"></small>
                                </div>

                                <div class="mb-3">
                                    <label for="txtDni"
                                           class="form-label">Dni</label>
                                    <input type="text"
                                           class="form-control"
                                           th:field="*{dni}"
                                           id="txtDni"
                                           th:errorclass="'form-control'"/>
                                    <small class="form-text text-danger"
                                           th:if="${#fields.hasErrors('dni')}"
                                           th:errors="*{dni}"></small>
                                </div>

                                <div class="mb-3">
                                    <label for="txtDependencia"
                                           class="form-label">Dependencia</label>
                                    <input type="text"
                                           class="form-control"
                                           th:field="*{dependencia}"
                                           id="txtDependencia"
                                           th:errorclass="'form-control'"/>
                                    <small class="form-text text-danger"
                                           th:if="${#fields.hasErrors('dependencia')}"
                                           th:errors="*{dependencia}"></small>
                                </div>

                                <div class="mb-3">
                                    <label for="txtNumDocumento"
                                           class="form-label">Número documento</label>
                                    <input type="text"
                                           class="form-control"
                                           th:field="*{numDocumento}"
                                           id="txtNumDocumento"
                                           th:errorclass="'form-control'"/>
                                    <small class="form-text text-danger"
                                           th:if="${#fields.hasErrors('numDocumento')}"
                                           th:errors="*{numDocumento}"></small>
                                </div>

                            </fieldset>

                            <div class="mb-3">
                                <label for="txtFechaProgramada"
                                       class="form-label">Fecha Cita Programada</label>
                                <input type="date"
                                       class="form-control"
                                       id="txtFechaProgramada"
                                       th:field="*{fechaCita}"
                                       th:errorclass="'form-control'"/>
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('fechaCita')}"
                                       th:errors="*{fechaCita}"></small>
                            </div>

                            <div class="mb-3">
                                <label for="txtHoraProgramada"
                                       class="form-label">Hora Cita Programada</label>
                                <input type="time"
                                       class="form-control"
                                       id="txtHoraProgramada"
                                       th:field="*{hora_cita}"
                                       th:errorclass="'form-control'"/>
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('hora_cita')}"
                                       th:errors="*{hora_cita}"></small>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="trabajador" th:field="*{trabajador.id}">
                                    <option value="0">Seleccionar Perito</option>
                                    <option th:each="trabajador: ${trabajadores}" th:value="${trabajador.id}" th:text="${trabajador.nombres}+' '+${trabajador.apellidos}"></option>
                                </select>
                                <label for="trabajador">Perito</label>
                            </div>

                            <input type="hidden"
                                   th:field="*{id}"/>

                            <button type="submit"
                                    class="btn btn-primary">Registrar
                            </button>

                            <a th:href="@{/citas}" type="button"
                               class="btn btn-danger">Cancelar
                            </a>
                            <!--                    <a href="#" class="card-link">Another link</a>-->
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Form End -->

        <!-- Footer Start -->
        <div th:replace="~{layouts/layout :: footer}">
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>


</body>

</html>